# --- OS Junk ---
.DS_Store
.AppleDouble
.LSOverride
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# --- PSADT Noise (Ignore Docs and Zips) ---
*.zip
packages/*/scripts/AppDeployToolkit/Doc/
packages/*/scripts/SupportFiles/*.pdf
temp_psadt/

# --- Logs & Local Dev Junk ---
*.log
*.tmp
.vscode/